{% extends 'django_template_limitless/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div style="text-align: center;" class="mt-xl-5">
        <p>
            <i class="icon-blocked" style="font-size: 20em;"></i>
        </p>
        <p style="font-size: 3em;" class="mt-xl-5">
            {% translate "Access to this resource has been denied." %}<br>
            {% translate "Please ask your IT helpdesk if you think this is an error." %}
        </p>
    </div>
{% endblock %}
